# This file is used to specify files and directories that should be ignored by Git.

# Downloaded and cached files for Python packages
venv/
.venv/
__pycache__/
*.pyc

# Local editor configuration files
.idea
