{% extends "base.html" %}

{% block title %}Telescopes{% endblock %}

{% block style %}
<style>
  .content {
    width: 100%;
    text-align: center;
  }
</style>
{% endblock %}

{% block content %}

{% if error %}
  <h3>{{ error }}</h3>
{% endif %}

<div class="container">
  <h3>Add New Telescope</h3>
  <form action="{{ url_for('telescope.add_telescope') }}" method="post">
    <label for="f_name">Name:</label>
    <input type="text" id="f_name" name="f_name" required>

    <label for="f_manufacturer">Manufacturer (optional):</label>
    <input type="text" id="f_manufacturer" name="f_manufacturer">

    <label for="f_aperture">Aperture (optional):</label>
    <input type="text" id="f_aperture" name="f_aperture">

    <label for="f_magnitude">Magnitude:</label>
    <input type="text" id="f_magnitude" name="f_magnitude" required>

    <label for="f_focuslength">Focuslength:</label>
    <input type="text" id="f_focuslength" name="f_focuslength" required>

    <label for="f_fieldwidth">Fieldwidth (optional):</label>
    <input type="text" id="f_fieldwidth" name="f_fieldwidth">

    <label for="f_fieldheight">Fieldheight (optional):</label>
    <input type="text" id="f_fieldheight" name="f_fieldheight">    

    <label for="f_length">Length (optional):</label>
    <input type="text" id="f_length" name="f_length">  

    <label for="f_weight">Weight (optional):</label>
    <input type="text" id="f_weight" name="f_weight">  

    <label for="f_purchasable">Purchasable (optional):</label>
    <input type="checkbox" id="f_purchasable" name="f_purchasable">   

    <label for="f_imageurl">Imageurl (optional):</label>
    <input type="text" id="f_imageurl" name="f_imageurl">   
    
    <input type="submit" value="submit">
  </form>
</div>

<div class="container">
  <h3>Search Telescope</h3>
  <h5>(through telescope id or name)</h5>
  <form action="{{ url_for('telescope.search_telescope') }}" method="post">
    <label for="t_search_id">Id:</label>
    <input type="text" id="t_search_id" name="t_search_id">

    <label for="t_search_name">Name:</label>
    <input type="text" id="t_search_name" name="t_search_name">

    <input type="submit" value="submit">
  </form>
</div>

<div class="content">
  <h3>Telescope List</h3>
  <h5>Click to see more information</h5>
  <ul>
    {% for t in telescopes %}
      <li>
        <a href="{{ url_for('telescope.telescope_information', id=t.id )}}"><strong>{{t.name}}</strong></a>
        <small>{{t.manufacturer}}</small>
        <small>{{t.aperture}}</small>
        <small>{{t.magnitude}}</small>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
