{% extends "base.html" %}

{% block title %}Telescopes{% endblock %}

{% block content %}
<body>
  <header>
    <h1>Telescope Records</h1>
    <p>Add and query telescope records in the system.</p>
  </header>

{% if error %}
  <div class="error">{{ error }}</div>
{% endif %}

{% if success %}
  <div class="success">{{ success }}</div>
{% endif %}

<div class="container">
  <h3>Add New Telescope</h3>
  <form action="{{ url_for('telescope.add_telescope') }}" method="post">
    <label for="f_name">Name:</label>
    <input type="text" id="f_name" name="f_name" required>

    <label for="f_manufacturer">Manufacturer (optional):</label>
    <input type="text" id="f_manufacturer" name="f_manufacturer">

    <label for="f_aperture">Aperture in inches:</label>
    <input type="text" id="f_aperture" name="f_aperture" required>

    <label for="f_magnitude">Magnitude:</label>
    <input type="text" id="f_magnitude" name="f_magnitude" required>

    <label for="f_focuslength">Focal Length in inches:</label>
    <input type="text" id="f_focuslength" name="f_focuslength" required>

    <label for="f_fieldwidth">FOV width in arcminutes (optional):</label>
    <input type="text" id="f_fieldwidth" name="f_fieldwidth">

    <label for="f_fieldheight">FOV height in arcminutes (optional):</label>
    <input type="text" id="f_fieldheight" name="f_fieldheight">    

    <label for="f_length">Length in cm (optional):</label>
    <input type="text" id="f_length" name="f_length">  

    <label for="f_weight">Weight in kg (optional):</label>
    <input type="text" id="f_weight" name="f_weight">  

    <label for="f_purchasable">Purchasable (optional):</label>
    <input type="checkbox" id="f_purchasable" name="f_purchasable">   

    <label for="f_imageurl">Imageurl (optional):</label>
    <input type="text" id="f_imageurl" name="f_imageurl">   
    
    <input type="submit" value="submit">
  </form>
</div>

<hr>

<div class="container">
  <h3>Search Telescope</h3>
  <form action="{{ url_for('telescope.search_telescope') }}" method="post">
    <label for="f_search_id">Search by Id:</label>
    <input type="text" id="f_search_id" name="f_search_id">

    <input type="submit" value="submit">
  </form>

  <form action="{{ url_for('telescope.search_telescope') }}" method="post">
    <label for="f_search_name">Search by Name:</label>
    <input type="text" id="f_search_name" name="f_search_name">

    <input type="submit" value="submit">
  </form>
</div>

<div class="container">
  <h3>Telescope List</h3>
  <strong>Browse various types of telescopes:</strong>
  <p>
    {% for i in range(telescopes|length) %}
    <ul>
      <li>
        <div class="content">
          <!--<img src="" alt="" srcset="">-->
          </div>
          {{ telescopes[i].name }} manufactured by <strong>{{telescopes[i].manufacturer}}</strong> was observed by <strong>{{counts[i]}}</strong> observers.
        </div>
      </li>
    </ul>
    {% endfor %}
  </p>
</div>
{% endblock %}
