{% extends "base.html" %}

{% block title %}View: {{ starname }}{% endblock %}

{% block style %}
<style>
  .content {
    width: 100%;
    text-align: center;
  }

  .content table {
    margin: 0 auto;
  }
</style>
{% endblock %}

{% block content %}
<div class="content">
  {% if star and observations %}
    <table>
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Designation</td>
          <td>{{ star.starname }}</td>
        </tr>
        <tr>
          <td>Type of object</td>
          <td>{{ startype }}</td>
        </tr>
        <tr>
          <td>Coordinates</td>
          <td>{{ star.coords_text() }}</td>
        </tr>
        <tr>
          <td>Magnitude</td>
          <td>{{ star.magnitude_text() }}</td>
        </tr>
        <tr>
          <td>Color</td>
          <td>{{ star.color }}</td>
        </tr>
      </tbody>
    </table>
    <p>TODO: Add observations list here</p>
    {% for obs in observations %}
      <!-- TODO: Add list of observations + details -->
      <p>starid: {{ obs.starid }} userid: {{ obs.userid }}</p>
    {% endfor %}

  {% else %}
    {% if queried_name %}
      <p>There's no observations for {{ queried_name }} ({{ starname }}) in our database.</p>
    {% else %}
      <p>There's no observations for {{ starname }} in our database.</p>
    {% endif %}

    <p>Would you like to add one?</p>
  
    <!-- TODO: Link button to observations page. Load with star as default -->
    <button>Add an Observation</button> 
  {% endif %}
</div>
{% endblock %}
