{% extends 'base.html' %}

{% block title %} 
  {% if observation %}
    Observation {{ observation.id }}
  {% else %}
    404 Observation Not found
  {% endif %}
{% endblock %}

{% block style %}
<style>
  .content {
    width: 100%;
    text-align: center;
  }

  .content table {
    margin: 0 auto;
  }
</style>
{% endblock %}

{% block content %}
  {% if observation %}
    <div class="content">
      <table>
        <thead>
          <tr>
            <th>Field</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Observation ID</td>
            <td>{{ observation.id }}</td>
          </tr>
          <tr>
            <td>Observer name</td>
            <td><a href="{{ url_for('user.detail_observer', id=user.id) }}">{{ user.get_full_name() }}</a></td>
          </tr>
          <tr>
            <td>Star observed</td>
            <td><a href="{{ url_for('star.detail_star', starname=star.starname) }}">{{ star.starname }}</a></td>
          </tr>
          <tr>
            <td>Telescope used</td>
            <td><a href="{{ url_for('telescope.telescope_information', id=telescope.id) }}">{{ telescope.name }}</a></td>
          </tr>
          <tr>
            <td>Observation time</td>
            <td>{{ observation.time }}</td>
          </tr>
          <tr>
            <td>Observation location</td>
            <td>{{ observation.city }}, {{ observation.country }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="error">
      <p>404 - No observation found with the given ID.</p>
    </div>
  {% endif %}
{% endblock %}
