{% extends "base.html" %}

{% block title %}Observations{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}

{% if error %}
    <h3>{{ error }}</h3>
{% endif %}

<div class="container">
  <h3>Add Observation</h3>
  <form action="{{ url_for('observation.add_observation') }}" method="post">
    
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>

    <label for="starname">Star name:</label>
    <input type="text" id="starname" name="starname" required>

    <label for="telname">Telescope name:</label>
    <input type="text" id="telname" name="telname" required>

    <label for="city">Observed city:</label>
    <input type="text" id="city" name="city" required>

    <label for="country">Observed country:</label>
    <input type="text" id="country" name="country" required>

    <input type="submit" value="Submit">
  </form>
</div>

<hr style="border-color: white;">

<div class="container">
  <h3>Observation List</h3>
  <h5>Click to see more information</h5>
  <ul>
    {% for obs in observations %}
      <li>
        <div class="content">
        <p>{{ obs.user.firstname }} observed star <strong>{{ obs.star.starname }}</strong> of apparent magnitude {{ obs.star.appmagnitude }} using telescope <em>{{ obs.telescope.telescopename }}</em> of limiting magnitude {{ obs.telescope.magnitude }} in {{ obs.city }}, {{ obs.country }}.</p>
        </div>
      </li>
    {% else %}
      <p style="text-align: center;">No observations found.</p>
    {% endfor %}
  </ul>
</div>
{% endblock %}
