{% extends "base.html" %}

{% block title %}Celestial Outpost{% endblock %}

{% block style %}
<style>
  main {
    margin: 0;
    width: 100%;
    height: 94vh;
    background-image: url("{{image_url}}");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: black;

    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;

    animation: bgZoom 8s infinite;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes bgZoom {
    0% {
      background-size: 100%;
    }
    99% {
      background-size: 150%;
    }
    100% {
      background-size: 100%;
    }
  }
</style>
{% endblock %}

{% block content %}

  <div class="home_container">

      <div></div>

      <div class="home_top">
          <div class="row-1">
            <h1>Celestial Outpost</h1>
          </div>
          <div class="row-2">
            <p>Welcome to Celestial Outpost, a gathering place for wanderers of the night sky. <br> Here, every telescope becomes a compass, every observation a spark, and every stargazer a fellow traveler on the same cosmic trail.
              A shared frontier where beginners and veterans alike chart their sightings, trace shifting constellations, compare cosmic notes, and add their voice to a growing constellation of explorers. <br> Background images refresh every day, pulled dynamically from NASA Image of the Day API.
            </p>
          </div>
          <div class="row-3">
            <a href="{{ url_for('observation.home') }}"> Click me to capture your cosmic moments with us! </a>
          </div>
      </div>

      <div></div>

      <div class="home_bottom">
          <div></div>
          <div class="col-1">
            <div class="col-number">
              <h2>01</h2>
            </div>
            <div class="col-title">
              <h2>Stargazer</h2>
            </div>
            <div class="col-text">
              <p>Log in with your information to join our Stargazer Community—connect with fellow explorers, meet our Community Champions, and access the full history of Stargazer observations.</p>
            </div>
            <div class="col-link">
              <a href="{{ url_for('user.home') }}">Click me!</a>
            </div>
          </div>
          <div class="col-2">
            <div class="col-number">
              <h2>02</h2>
            </div>
            <div class="col-title">
              <h2>Telescope</h2>
            </div>
            <div class="col-text">
              <p>Dive into our comprehensive telescope records, examine how each instrument performs, and find out which telescopes can reveal an even richer field of stars waiting to be discovered.</p>
            </div>
            <div class="col-link">
              <a href="{{ url_for('telescope.home') }}">Click me!</a>
            </div>
          </div>
          <div class="col-3">
            <div class="col-number">
              <h2>03</h2>
            </div>
            <div class="col-title">
              <h2>Stars</h2>
            </div>
            <div class="col-text">
              <p>Our star database is dynamically linked to the full SIMBAD catalog, giving you immediate access to rich astronomical data. Click to discover which stars our community has observed and step into their cosmic story.</p>
            </div>
            <div class="col-link">
              <a href="{{ url_for('star.home') }}">Click me!</a>
            </div>
          </div>
          <div></div>
      </div>

      <div></div>

  </div>

{% endblock %}
