{% extends 'base.html' %}

{% block title %} 
  {% if user %}
    Observer {{ user.firstname }}
  {% else %}
    404 Observer Not found
  {% endif %}
{% endblock %}

{% block content %}
  {% if user %}
  <div>
    <p><strong>Name:</strong> {{ user.firstname }} {{ user.lastname }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Middle Names:</strong> {{ user.middlenames or 'N/A' }}</p>
    <p><strong>Initials:</strong> {{ user.initials or 'N/A' }}</p>
    <p><strong>Institution:</strong> {{ user.institution or 'N/A' }}</p>
    <p><strong>Location:</strong> {{ user.city or 'N/A' }}, {{ user.country or 'N/A' }}
    </p>
  </div>
  {% else %}
  <div class="error">
    <p>404 - No user found with the given ID.</p>
  </div>
  {% endif %}
{% endblock %}
