{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
<body>
  <header>
    <h1>User Records</h1>
    <p>Sign up and query user observations in the system.</p>
  </header>

  {% if error %}
    <div class="error">{{ error }}</div>
  {% endif %}

  {% if success %}
    <div class="success">{{ success }}</div>
  {% endif %}

  <section>
    <h2>Add New User</h2>
      <form action="{{ url_for('user.add_observer') }}" method="POST">
        <div>
          <label for="lastname">Last Name:</label>
          <input type="text" id="lastname" name="lastname" required>
        </div>
        <div>
          <label for="firstname">First Name:</label>
          <input type="text" id="firstname" name="firstname" required>
        </div>
        <div>
          <label for="middlenames">Middle Names (optional):</label>
          <input type="text" id="middlenames" name="middlenames">
        </div>
        <div>
          <label for="initials">Initials (optional):</label>
          <input type="text" id="initials" name="initials">
        </div>
        <div>
          <label for="email">Email Address:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div>
          <label for="institution">Institution (optional):</label>
          <input type="text" id="institution" name="institution">
        </div>
        <div>
          <label for="city">City:</label>
          <input type="text" id="city" name="city" required>
        </div>
        <div>
          <label for="country">Country:</label>
          <input type="text" id="country" name="country" required>
        </div>
        <input type="submit" value="Sign up">
      </form>
  </section>

  <hr>

  <section>
    <h2> Query User Observations </h2>
    <form action="{{ url_for('user.search_observer_by_name') }}" method="POST">
      <label for="name">Enter Last Name to Search by</label>
      <input type="text" id="name" name="name" required>
      <input type="submit" value="submit">
    </form>
  {% if user_list %}
    <h2>Matching Users:</h2>
    <ul>
    {% for u in user_list %}
      <li>
        <a href="{{ url_for('user.detail_observer', id=u.id )}}"><strong>{{ u.get_full_name() }}</strong></a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  </section>
</body>

{% endblock %}
